.card {
    max-width: "100%";
  }
  
  .card:hover{
    box-shadow:5px 5px 10px 3px rgba(255, 255, 255, 0.685) ;
  
  }

  .favBtn{
    background-color: orange;
    border: none;
    padding: 0.5rem;
    border-radius: 25px;
  }

  .favBtn2{
    background-color: transparent;
    border: 1px solid orange;
    color: white;
   
    padding: 0.5rem;
    border-radius: 25px;
  }

  .favBtn2:hover{
    background-color: orange;
    border: none;
    padding: 0.5rem;
    border-radius: 25px;
    transition:ease 0.7s;
    color: black;
  }

  .favBtn:hover {
    background-color: transparent;
    border: 1px solid orange;
    color: white;
    transition:ease 0.7s;
  }